@{
    Page.Title = "Rooms";
    ViewBag.Title = "All Rooms";
    ViewBag.Message = "This page shows all the rooms available on campus. Use the filter options to narrow them down. Use the  <a href='http://maps.lboro.ac.uk/' target='_blank'>campus map</a> to locate rooms.";
}

<hgroup class="title">
<h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
<h2>@Html.Raw(@ViewBag.Message)</h2>
</hgroup>
<!-- Wrapper for filtering options box -->

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/roompage.css">
    @Scripts.Render("~/scripts/roompage.js");
}

            <table align="center">
                <tr>
                    <!-- Filter by park input -->
                    <td class="input-field col m4 s6" align="center" width="55%">
                        <label for="filterPark">Filter by Park:</label>
                    </td>
                    <td align="center">
                        <select name="filterPark" style="width:300px">
                            <option value="all" selected>Any Park</option>
                            <option value="0">Central</option>
                            <option value="1">East</option>
                            <option value="2">West</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="input-field col m4 s6" align="center">
                        <!-- filter by type input -->
                        <label for="filterType">Filter by Type:</label>
                    </td>
                    <td align="center">
                        <select name="filterType" style="width:300px">
                            <option value="all" selected>Any Type</option>
                            <option value="0">Traditional</option>
                            <option value="1">Tutorial</option>
                        </select>
                    </td>
                </tr>
                <!-- End first row of inputs -->
                <!-- Second row  of inputs -->
                <tr class="row">
                    <td align="center">
                        <!-- Minimum Capacity input -->
                        <div class="input-field col m4 s6">
                            <input placeholder="Minimum capacity" name="filterMinCapacity" type="number" min="0" class="validate" style="width:300px">
                        </div>
                    </td>
                    <td align="center">
                        <!-- Maximum Capacity Input -->
                        <div class="input-field col m4 s6">
                            <input placeholder="Maximum Capacity" name="filterMaxCapacity" type="number" min="0" class="validate" style="width:300px">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="card-panel-content" align="center" style="width:300px">

                        <!-- Filter options form -->
                        <form class="col s12" method="post"></form>

                        <!-- First row of inputs -->
                        <div class="row"> </div>

                        <!-- Filter by name input -->
                        <div class="input-field col m4 s6">
                            <input placeholder="Filter by Name" name="filterName" type="text" class="validate">
                        </div>
                    </td>
                    <!-- Submit button -->
                    <td class="col m4 s12 right-align" align="center">
                        <button type="submit" class="waves-effect waves-light btn btn-large" style="width:300px">Filter Results</button>
                    </td>
                </tr>
            </table>

<br />

<div class="container">
    <div class="header" align="center">
        <span>Filter by Facility</span>
    </div>
    <div class="content">
        <label><input type="checkbox" id="Whiteboard" name="view-period">Whiteboard</label><br />
        <label><input type="checkbox" id="Wheelchair" name="view-period">Wheelchair</label><br />
        <label><input type="checkbox" id="Induction Loop" name="view-period">Induction Loop</label><br />
        <label><input type="checkbox" id="Computer" name="Computer">Computer</label><br />
        <label><input type="checkbox" id="Data Projector" name="Data Projector">Data Projector</label><br />
        <label><input type="checkbox" id="Video OR DVD Player" name="Video OR DVD Player">Video OR DVD Player</label><br />
        <label><input type="checkbox" id="Visualiser" name="Visualiser">Visualiser</label><br />
        <label><input type="checkbox" id="PASystem" name="PASystem">PASystem</label><br />
        <label><input type="checkbox" id=" ReVIEW Lecture Capture" name=" ReVIEW Lecture Capture">ReVIEW Lecture Capture</label><br />
    </div>
</div>

            <!-- End second row of inputs -->
            <!-- End Filter options form -->
            <!-- End wrapper for filter options box -->
            <!-- Wrapper for actual results -->



            <div class="dashboard-card">

                <!-- .scrollable-table-wrapper allows the table to scroll horizontally on mobiles without overflowing the viewport -->
                <div class="scrollable-table-wrapper">

                    <!-- Actual result table -->
                    <table class="modules-table paginated-table">
                        <tr>
                            <td align="center" style="font-weight:bold" width="20%"> Name </td>
                            <td align="center" style="font-weight:bold" width="20%"> Park </td>
                            <td align="center" style="font-weight:bold" width="20%"> Building </td>
                            <td align="center" style="font-weight:bold" width="20%"> Capacity </td>
                            <td align="center" style="font-weight:bold" width="20%"> Facilities </td>
                        </tr>
                        <!-- Room rows -->
                        @{
                            var db = Database.Open("DBCon");

                            var roomSelect = "SELECT * FROM Room";

                            foreach (var room in db.Query(roomSelect))
                            {
                                var curRoom = room.RoomCode.Trim(new Char[] { '.' });
                                var facilitesSelect = "SELECT * FROM Facility JOIN FacilityRoom ON Facility.FacilityId=FacilityRoom.FacilityId  WHERE FacilityRoom.RoomCode = '" + curRoom + "'";
                                var park = "SELECT ParkName FROM Park JOIN Building ON Park.ParkId = Building.ParkId WHERE Building.BuildingCode ='" + room.BuildingCode + "'";
                                var buildingName = db.Query("SELECT BuildingName FROM Building WHERE BuildingCode = '" + room.BuildingCode+"'");
                                var parkResult = db.Query(park)[0][0];
                                <tr>
                                    <td align="center">@room.RoomCode</td>
                                    <td align="center">@parkResult</td>
                                    <td align="center">@buildingName[0][0]</td>
                                    <td align="center">@room.Capacity</td>
                                    <td align="center">
                                        @foreach (var fac in db.Query(facilitesSelect))
                                        {
                                            @fac.FacilityName.Replace("_", " ") <br />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <!-- End room rows -->

                    </table>
                    <!-- End Actual result table -->

                </div>
                <!-- End .scrollable-table-wrapper -->

            </div>
