<!--Timetable js files goes here, add the css here when ready-->
@section scripts{
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Timetable.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Jquery.tag.css" />
    @Scripts.Render("~/bundles/timetable");
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="filter">
    <div>
        @{
            var db = Database.Open("DBCon");
            var selectQueryString = "SELECT * FROM Park";
            <select id="parks">
                @foreach(var row in db.Query(selectQueryString))
                {
                    <option value="@row.ParkID">@row.ParkName</option>
                }
            </select>
            
        }
    </div>
    Testing
    <select id="module-code">
        <option value="COA101">COA101</option>
    </select>
    <select id="module-name">
        <option value="Sys Engineering">Sys Engineering</option>
    </select>
    <div id="weeks-selected">

    </div>
    <button class="btn btn-primary waves-effect" id="range-selector">Choose range</button>
    <ul class="weekRange"></ul>
</section>

<section id="timetable">
    <div id="weeks-range" class="horizontal-range">
        <div id="general" class="">
            General
        </div>
    </div>
    <div id="timetable-holder" style="height:30em"></div>
</section>